@model GeoSearch.Models.FoursquarePlaceDetailsModel

@if (Model != null)
{
    <!-- Title -->
    @if (Model != null)
    {
        <div class="card border-success bg-success-custom">
            <div class="card-body d-flex align-items-center justify-content-center">
                <div style="display: flex; flex-direction:column; gap: 4px;">
                    <div style="display: flex; gap: 12px;">
                        <form asp-action="AddAsFavorite" method="post">
                            <input type="hidden" name="FsqId" value="@Model.Fsq_Id" />
                            <input type="hidden" name="Name" value="@Model.Name" />
                            @if (Model.Location != null)
                            {
                                <input type="hidden" name="Address" value="@Model.Location.Formatted_Address" />
                            }
                            <button type="submit" class="btn btn-link p-0 text-warning" style="border: none; background: none;">
                                <i class="fas fa-star fa-2x" id="favoriteIcon"></i>
                            </button>
                        </form>
                        <div>
                            <h3 style="margin:0;"><strong style="color:#23232e;">@Model.Name</strong></h3>
                            <i class="text-secondary">@Model.Timezone</i>
                        </div>
                    </div>
                    <div class="card-text">
                        @Model.Description
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Info -->
    <div class="card border-primary bg-primary-custom text-primary @(Model.Fax != null ? "tall" : "")">
        <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <!-- Place Info -->
            @if (Model.Email != null)
            {
                <p><strong><i class="fas fa-envelope fa-lg card-icon bg-primary"></i></strong> @Model.Email</p>
            }
            @if (Model.Fax != null)
            {
                <p><strong><i class="fas fa-fax fa-lg card-icon bg-primary"></i></strong> @Model.Fax</p>
            }
            @if (Model.Tel != null)
            {
                <p><strong><i class="fas fa-phone fa-lg card-icon bg-primary"></i></strong> @Model.Tel</p>
            }
            @if (Model.Website != null)
            {
                <p><strong><i class="fas fa-globe fa-lg card-icon bg-primary"></i>
                    </strong> <a href="@Model.Website" target="_blank" class="card-link">@Model.Website</a>
                </p>
            }
            <!-- Location -->
            @if (Model != null && Model.Location != null)
            {
                <p><strong><i class="fas fa-map-pin fa-lg card-icon bg-primary"></i></strong> @Model.Location.Formatted_Address</p>
            }
            <!-- Verified -->
            <p><strong><i class="fas fa-check fa-lg card-icon bg-primary"></i></strong> Verified: @(Model.Verified ? "Yes" : "No")</p>
        </div>
    </div>

    <!-- Categories -->
    @if (Model != null && Model.Categories != null)
    {
        <div class="card border-danger bg-danger-custom text-danger">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                @foreach (var category in Model.Categories)
                {
                    <div class="d-flex">
                        @if (category.Icon != null)
                        {
                            var iconUrl = $"{category.Icon.Prefix}32{category.Icon.Suffix}";
                            <img class="img-icon" src="@iconUrl" alt="@category.Name" style="margin-right: 10px;" />
                        }
                        <div class="d-flex flex-column">
                            <strong>@category.Short_Name</strong> 
                            <i>@category.Name</i>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <!-- Hours -->
    @if (Model != null && Model.Hours != null)
    {
        <div class="card border-warning bg-warning-custom text-warning">
            <div class="card-body">
                <h5 class="card-title">Hours</h5>
                <p><strong>Is Local Holiday:</strong>
                    @if (Model.Hours.Is_Local_Holiday)
                    {
                        <i class="fas fa-check-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle fa-lg"></i>
                    }
                </p>
                <p><strong>Open Now:</strong>
                    @if (Model.Hours.Open_Now)
                    {
                        <i class="fas fa-check-circle fa-lg"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle fa-lg"></i>
                    }
                </p>
            </div>
        </div>
    }

    <!-- Stats -->
    @if (Model != null && Model.Stats != null)
    {
        <div class="card wide border-success bg-success-custom text-success">
            <div class="card-body">
                <h5 class="card-title">Stats</h5>
                    <div class="card-stat-container ">
                        <div class="card-stat">
                            <div class="stat-number bg-success"><strong>@Model.Stats.Total_Photos</strong></div>
                            <div><strong>Total Photos</strong></div>
                        </div>
                        <div class="card-stat">
                            <div class="stat-number bg-success"><strong>@Model.Stats.Total_Ratings</strong></div>
                            <div><strong>Total Ratings</strong></div>
                        </div>
                        <div class="card-stat">
                            <div class="stat-number bg-success"><strong>@Model.Stats.Total_Tips</strong></div>
                            <div><strong>Total Tips</strong></div>
                        </div>
                    </div>
            </div>
        </div>
    }

    <!-- Social Media -->
    @if (Model != null && Model.Social_Media != null)
    {
        <div class="card border-info bg-info-custom text-info">
            <div class="card-body">
                <h5 class="card-title">Social Media</h5>
                <p>
                    <strong><i class="fab fa-facebook fa-lg card-icon bg-info"></i></strong>
                    <a href="@($"https://facebook.com/{Model.Social_Media.Facebook_Id}")" target="_blank" class="card-link">
                        @Model.Social_Media.Facebook_Id
                    </a>
                </p>
                <p>
                    <strong><i class="fab fa-instagram fa-lg card-icon bg-info"></i></strong>
                    <a href="@($"https://instagram.com/{Model.Social_Media.Instagram}")" target="_blank" class="card-link">
                        @Model.Social_Media.Instagram
                    </a>
                </p>
                <p>
                    <strong><i class="fab fa-twitter fa-lg card-icon bg-info"></i></strong>
                    <a href="@($"https://twitter.com/{Model.Social_Media.Twitter}")" target="_blank" class="card-link">
                        @Model.Social_Media.Twitter
                    </a>
                </p>
                </div>
            </div>
    }
}
else
{
    <div class="card border-secondary bg-secondary-custom text-secondary">
        <div class="card-body">
            <p>No details found for this place.</p>
        </div>
    </div>
}
