@model GeoSearch.Models.FoursquarePlaceTipsModel

@if (Model?.Tips != null && Model.Tips.Count > 0)
{
    @foreach (var tip in Model.Tips)
    {
        <div class="card border-warning bg-warning-custom text-warning @(tip.Photo != null ? "tall" : "")">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-comment"></i> Tip</h5>
                @if (!string.IsNullOrEmpty(tip.Text))
                {
                    <p class="clamped-text scrollable-text">@tip.Text</p>
                }
                @if (tip.Photo != null)
                {
                    <img src="@($"{tip.Photo.Prefix}250x250{tip.Photo.Suffix}")" alt="@($"Image {@tip.Id}")" class="image-card" />
                }     
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        @if (tip.CreatedAt != default(DateTime))
                        {
                            <i>@tip.CreatedAt.ToString("MMMM dd, yyyy")</i>
                        }
                    </div>
                    <div>
                        <i class="fas fa-thumbs-up"></i> @tip.Agree_Count
                        <i class="fas fa-thumbs-down"></i> @tip.Disagree_Count
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card border-secondary bg-secondary-custom text-secondary">
        <div class="card-body">
            <p>No tips found for this place.</p>
        </div>
    </div>
}
